@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
:root {
  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

html::before, html::after {
  position: fixed;
  z-index: -1;
}

html::before {
  display: block;
  content: url(../images/bg-pattern-top-mobile.svg);
  top: 0px;
  left: 0px;
}

html::after {
  display: block;
  content: url(../images/bg-pattern-bottom-mobile.svg);
  bottom: 0px;
  right: 0px;
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0.8rem;
  background-color: var(--lightGrayishMagenta);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
}

@media screen and (min-width: 768px) {
  html::before {
    content: url(../images/bg-pattern-top-desktop.svg);
  }
  html::after {
    content: url(../images/bg-pattern-bottom-desktop.svg);
  }
  .attribution {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 1080px) {
  body {
    max-width: 1080px;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (400px)[2];
        grid-template-rows: repeat(2, 400px);
  }
  .attribution {
    font-size: 0.8rem;
  }
}

.header {
  text-align: center;
  padding: 60px 20px 20px;
  margin: auto;
}

.header__title {
  color: var(--veryDarkMagenta);
  font-weight: 700;
  line-height: 2rem;
  padding-bottom: 5px;
}

.header__paragraph {
  color: var(--darkGrayishMagenta);
  font-weight: 500;
  font-size: .85rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    width: 500px;
  }
  .header__title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .header__paragraph {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1080px) {
  .header__title, .header__paragraph {
    text-align: left;
  }
}

.rates {
  text-align: center;
}

.rated {
  background-color: var(--lightGrayishMagenta);
  margin: 1rem 20px;
  padding: 10px 50px;
  border-radius: 10px;
  color: var(--veryDarkMagenta);
  font-size: 12px;
  font-weight: 700;
}

.rated__star {
  background-color: #ef9546;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@media screen and (min-width: 1080px) {
  .rates {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
  .rated {
    margin: 0px;
    margin-bottom: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rated:first-child {
    left: -1rem;
    margin-top: 1.5rem;
  }
  .rated:last-child {
    right: -1rem;
    margin-bottom: 0;
  }
}

.testimonial {
  background-color: var(--veryDarkMagenta);
  height: 240px;
  border-radius: 10px;
  margin: 20px;
}

.testimonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 35px 15px 35px;
  margin-top: 20px;
}

.testimonial__img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
}

.testimonial__autor {
  margin-top: 20px;
}

.testimonial__title, .testimonial__subtitle {
  margin: 0 0 0 20px;
}

.testimonial__title {
  color: var(--white);
  font-size: 0.8rem;
}

.testimonial__subtitle {
  color: var(--softPink);
  font-size: 0.8rem;
  font-weight: 400;
}

.testimonial__description {
  color: var(--white);
  margin: 20 35px;
  font-size: 0.8rem;
  font-weight: 500;
  font-weight: 400;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .testimonial {
    width: 350px;
    height: 230px;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1080px) {
  .testimonials {
    padding: 0;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .testimonial {
    margin: 0;
  }
  .testimonial:first-child {
    position: absolute;
    left: 0;
    top: 4.5rem;
  }
  .testimonial:last-child {
    position: absolute;
    right: 0;
    bottom: 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */