.header{
    text-align: center;
    padding: 60px 20px 20px ;
    margin: auto;
    
    
    &__title{
        color: var(--veryDarkMagenta);
        font-weight: 700;
        line-height: 2rem;
        padding-bottom: 5px;
        
    }
    &__paragraph{
        color:var(--darkGrayishMagenta);
        font-weight: 500;
        font-size: .85rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width:768px){
    .header{
        width: 500px;
        &__title{
            font-size: 3rem;
            line-height: 3rem;
            
        }
        &__paragraph{
            font-size: 1rem;
           
        }

    }
    
    
}

@media screen and(min-width:1080px){
    .header{
        &__title, &__paragraph{
            text-align: left;
        }
    }
}