.rates {
    text-align: center;
  }
  .rated {
    background-color: var(--lightGrayishMagenta);
    margin: 1rem 20px;//0.625rem;
    padding: 10px 50px;
    border-radius: 10px;
    color: var(--veryDarkMagenta);
    font-size: 12px;
    font-weight: 700;
    &__star {
      background-color: #ef9546; //orange;
      width: 1rem;
      height: 1rem;
      display: inline-block;
      clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
      );
    }
  }
  

  @media screen and(min-width:1080px){
    .rates{
      grid-row: 1;
      grid-column: 2/4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px;
      
    }
    
    .rated{
      margin: 0px;
      margin-bottom: 1rem;
      position: relative;
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      &:first-child{
        left: -1rem;
        margin-top: 1.5rem;
      }
      &:last-child{
        right: -1rem;
        margin-bottom: 0;
      }
    }
  }